<h1>Airport Log</h1>
<!--<agm-map-->
  <!--[latitude]="lat"-->
  <!--[longitude]="lng"-->
  <!--[zoom]="zoom">-->

  <!--<agm-marker-->
    <!--*ngFor="let m of markers"-->
    <!--(markerClick)="clickedMarker(m)"-->
    <!--[latitude]="m.lat"-->
    <!--[longitude]="m.lng"-->
    <!--[title]="m.code">-->
    <!--<agm-info-window>-->
      <!--<h2>{{m.title}}</h2>-->
      <!--{{m.label}}-->
    <!--</agm-info-window>-->
  <!--</agm-marker>-->

<!--</agm-map>-->

<app-map [markers]="locationService.airports$ | async" (selectAirport)="selectedAirport = $event"></app-map>

<hr/>
<p>
  Number of loaded airports: {{(locationService.airports$ | async)?.length}}
</p>
<p>Selected Airport: <strong>{{selectedAirport?.label}}</strong></p>
<p>
  <button (click)="onClearCache()">Clear cache / Reload</button>
</p>
<app-airport-list [airports]="locationService.airports$ | async"></app-airport-list>
