<h1>Airport Log</h1>
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom">

  <agm-marker
    *ngFor="let m of markers"
    (markerClick)="clickedMarker(m)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"></agm-marker>

</agm-map>

<hr/>
<p>
  Number of loaded airports: {{markers.length}}
</p>
<p>Selected Airport: <strong>{{selectedAirport?.label}}</strong></p>
<p *ngFor="let marker of markers">
  <span class="code">{{marker.code}}</span><span>: {{marker.label}} ({{marker.lat}}/{{marker.lng}})</span>
</p>
<button (click)="load()">Load Airports</button>
